In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("test").getOrCreate()

25/01/09 12:48:24 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [14]:
import yfinance as yf

tickers = ["AAPL", "MSFT", "CRM"]

stock = yf.download(tickers, period="1y", interval="1d")['Close']

stock.reset_index(inplace=True)

stock.tail()

[*********************100%***********************]  3 of 3 completed

Ticker       Date        AAPL         CRM        MSFT
247    2025-01-02  243.850006  330.660004  418.579987
248    2025-01-03  243.360001  332.899994  423.350006
249    2025-01-06  245.000000  330.529999  427.850006
250    2025-01-07  242.210007  324.929993  422.369995
251    2025-01-08  242.699997  326.899994  424.559998

In [17]:
from pyspark.sql.functions import to_date


spark_df = spark.createDataFrame(stock)
spark_df = spark_df.withColumn("Date", to_date("Date", "yyyy-MM-dd"))

spark_df.show()

+----------+------------------+------------------+------------------+
|      Date|              AAPL|               CRM|              MSFT|
+----------+------------------+------------------+------------------+
|2024-01-09|184.23741149902344|  259.888427734375| 373.0007629394531|
|2024-01-10|185.28228759765625|262.66290283203125|379.92889404296875|
|2024-01-11|184.68521118164062| 269.8726501464844| 381.7751159667969|
|2024-01-12| 185.0135955810547|270.41961669921875|385.58660888671875|
|2024-01-16|182.73477172851562| 267.6948547363281| 387.3732604980469|
|2024-01-17|181.78941345214844| 269.9323425292969| 386.5791931152344|
|2024-01-18| 187.7104034423828|     272.935546875|  390.946533203125|
|2024-01-19|190.62611389160156|279.31988525390625|       395.7109375|
|2024-01-22| 192.9447479248047|278.74310302734375|393.56695556640625|
|2024-01-23|194.22845458984375|  275.232666015625| 395.9391784667969|
|2024-01-24|193.55177307128906|275.34210205078125|  399.572021484375|
|2024-01-25|  193.223388671875|277.48016357421875| 401.8648986816406|
|2024-01-26|191.48191833496094|278.38507080078125|  400.931884765625|
|2024-01-29| 190.7952880859375| 286.2611389160156|406.67889404296875|
|2024-01-30|187.12327575683594| 286.1318054199219| 405.5572814941406|
|2024-01-31| 183.5010223388672| 279.5287170410156| 394.6289978027344|
|2024-02-01|185.94903564453125| 282.2236633300781|400.78302001953125|
|2024-02-02| 184.9439697265625| 284.0733337402344| 408.1677551269531|
|2024-02-05| 186.7650146484375|286.50970458984375| 402.6391296386719|
|2024-02-06|188.37713623046875|284.24237060546875| 402.4802551269531|
+----------+------------------+------------------+------------------+
only showing top 20 rows